@{
  TempData.Keep();
  ViewData["containerNav"] = (ViewData["containerNav"] ??= "container-fluid");
}

<nav class="layout-navbar navbar navbar-expand-xl align-items-center bg-navbar-theme" id="layout-navbar">
  <div class='@ViewData["containerNav"]'>

    @* ! Brand demo (display only for navbar-full and hide on below xl) *@
    @if (ViewData["navbarFull"] != null)
    {
      <div class="navbar-brand app-brand demo d-none d-xl-flex py-0 me-4">
        <a asp-page="/Index" class="app-brand-link gap-2">
          <span class="app-brand-logo demo">
            @await Html.PartialAsync("../_Partials/_Macros")
          </span>
          <span class="app-brand-text demo menu-text fw-bold">@TempData.Peek("appName")</span>
        </a>

        @* ! Display menu close icon only for horizontal-menu with navbar-full *@
        @if (Convert.ToBoolean(@TempData.Peek("menuHorizontal")).ToString() == "True")
        {
          <a href="javascript:void(0);" class="layout-menu-toggle menu-link text-large ms-auto d-xl-none">
            <i class="bx bx-x bx-sm align-middle"></i>
          </a>
        }
      </div>
    }

    @* ! Not required for layout-without-menu *@
    @if (ViewData["navbarHideToggle"] == null)
    {
      <div class='layout-menu-toggle navbar-nav align-items-xl-center me-3 me-xl-0  @((Convert.ToBoolean(@TempData.Peek("menuHorizontal")).ToString() == "True") ? "" : "d-xl-none") @((@ViewData["contentNavbar"] != null && Convert.ToBoolean(@ViewData["contentNavbar"])) ? "" : "d-xl-none")'>
        <a class="nav-item nav-link px-0 me-xl-4" href="javascript:void(0)">
          <i class="bx bx-menu bx-sm"></i>
        </a>
      </div>
    }

    <div class="navbar-nav-right d-flex align-items-center" id="navbar-collapse">
      <ul class="navbar-nav flex-row align-items-center ms-auto">
        <!-- Search -->
        @if (Convert.ToBoolean(TempData.Peek("menuHorizontal")).ToString() == "True")
        {
            <li class="navbar-nav align-items-center">
                <span class="nav-item navbar-search-wrapper mb-0">
                    <a class="nav-item nav-link search-toggler d-flex align-items-center" href="javascript:void(0);">
                        <i class="bx bx-search-alt bx-sm me-2 me-xl-0"></i>
                    </a>
                </span>
            </li>
        }
        <!-- /Search --> 

        <!-- User -->
        <li class="nav-item navbar-dropdown dropdown-user dropdown">
          <a class="nav-link dropdown-toggle hide-arrow" href="javascript:void(0);" data-bs-toggle="dropdown">
            <div class="avatar avatar-online">
              <img src="~/img/avatars/1.png" alt class="h-auto rounded-circle">
            </div>
          </a>
          <ul class="dropdown-menu dropdown-menu-end">
            <li>
              <a class="dropdown-item" asp-page="/Pages/AccountSettings/Account">
                <div class="d-flex flex-row align-items-center">
                  <div class="flex-shrink-0 me-3">
                    <div class="avatar avatar-online">
                      <img src="~/img/avatars/1.png" alt class="h-auto rounded-circle">
                    </div>
                  </div> 
                  <div class="flex-grow-1">
                    <span id="name-usuario-template" class="fw-semibold d-block lh-1"></span>
                    <small id="rol-usuario-template"></small>
                  </div>
                </div>
              </a>
            </li> 

            <li>
              <div class="dropdown-divider"></div>
            </li>
            <li>
              <a class="dropdown-item" href="admin/Perfil">
                <i class="bx bx-user me-2"></i>
                <span class="align-middle">Mi Perfil</span>
              </a>
            </li>

            <li>
              <button class="dropdown-item" id="cerrar-session">
                <i class="bx bx-power-off me-2"></i>
                <span class="align-middle">Cerrar sesión</span>
              </button>
            </li>
          </ul>
        </li>
        <!--/ User -->

      </ul>
    </div>

    <!-- Search Small Screens -->
    <div class='navbar-search-wrapper search-input-wrapper @((Convert.ToBoolean(@TempData.Peek("menuHorizontal")).ToString() == "True") ? @ViewData["containerNav"] : "") d-none'>
      <input type="text" class='form-control search-input @((Convert.ToBoolean(@TempData.Peek("menuHorizontal")).ToString() == "True") ? "" : @ViewData["containerNav"]) border-0' placeholder="Search..." aria-label="Search...">
      <i class="bx bx-x bx-sm search-toggler cursor-pointer"></i>
    </div>
  </div>
</nav>



<script>
    let token2 = localStorage.getItem("accessToken");
    let decodedToken2 = JSON.parse(atob(token2.split('.')[1]));
    let rol2 = decodedToken2?.Rol == "1" ? "Administrador" : "Cliente";
    let name2 = decodedToken2?.family_name || "";
    let correo2 = decodedToken2?.unique_name || "";


    document.getElementById("rol-usuario-template").innerText = rol2;
    document.getElementById("name-usuario-template").innerText = name2;
    document.getElementById("cerrar-session").addEventListener("click", function () {
        localStorage.removeItem("accessToken");
        window.location.href = "/Auth/Login";
    });
</script>
